:host {
  display: flex;
  align-items: stretch;
}
.column-layout {
  position: sticky;
  background-color: var(--igx-grays-100);
  z-index: 1;
  padding: 24px;
  height: 100%;
  width: 100%;
  overflow: auto;
  align-items: stretch;
  min-height: 50px;
  min-width: 50px;
}
.row-layout {
  width: 80%;
  align-items: stretch;
  min-height: 50px;
  min-width: 50px;
}
.column-layout_1 {
  width: 20%;
  align-items: stretch;
  min-height: 50px;
  min-width: 50px;
}
.row-layout_1 {
  background-color: transparent;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  min-width: 50px;
}
.column-layout_2 {
  background-color: var(--igx-grays-200);
  padding: 24px;
  height: 100%;
  width: 100%;
  overflow: auto;
  align-items: stretch;
  min-height: 50px;
  min-width: 50px;
}
.layout {
  position: relative;
  align-items: stretch;
  min-height: 50px;
  min-width: 50px;
}
.row-layout_2 {
  height: 100%;
  width: 100%;
}
.layout_1 {
  overflow: auto;
}
.card {
  width: max-content;
  height: max-content;
  margin: 0 0 16px;
  flex: 0 0 auto;
}
.card_1 {
  height: max-content;
  margin: 0 0 16px;
  flex: 0 0 auto;
}
.actions {
  min-height: 40px;
  min-width: 50px;
}
.title {
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
  flex: 0 0 auto;
}
.button {
  height: max-content;
  min-width: min-content;
  flex: 0 0 auto;
}
.icon-button {
  flex: 0 0 auto;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
